@import '../static/mixins.scss';

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000;
        padding: vw(10) 0;
        img{
            width: vw(150);
        }
    }
}

@media only screen and(min-width:$mobileMax){
    .footer{

        a {

            padding:10px 0;
            img{
                width: 150px;
            }
        }
    }
}